<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Control_Material">

        <!-- Pantalla inicial -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Activities principales -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".activity_Reports"
            android:exported="false" />

        <!-- Control Usuario -->
        <activity
            android:name=".ControlUsuario.ConsultarUsuarioActivity"
            android:exported="false" />

        <!-- Catálogo -->
        <activity
            android:name=".catalog.CatalogoActivity"
            android:exported="false" />

        <activity
            android:name=".catalog.CatalogoFormActivity"
            android:exported="false" />

        <!-- Inventario -->
        <activity
            android:name=".inventory.InvView"
            android:exported="false" />

        <!-- Entrada Material -->
        <activity
            android:name=".entradamaterial.EntradaMaterialActivity"
            android:exported="false" />

        <!-- Activity para abrir activity secundario-->
        <!-- Historial de Entradas -->
        <activity
            android:name=".entradamaterial.HistorialEntradaActivity"
            android:exported="false" />


    </application>

</manifest>